
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.box * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.box {
  width: 816px;
  height: 672px;
}


.box .group {
  position: relative;
  width: 633px;
  height: 505px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 625px;
  height: 505px;
  background-color: #ffffff;
}

.box .rectangle {
  position: absolute;
  width: 161px;
  height: 78px;
  top: 336px;
  left: 232px;
}

.box .img {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 75px;
  left: 284px;
}

.box .vector {
  position: absolute;
  width: 560px;
  height: 420px;
  top: 42px;
  left: 32px;
}

.box .republic-of-the {
  position: absolute;
  width: 557px;
  top: 143px;
  left: 34px;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper {
  font-family: 'UnifrakturMaguntia', cursive;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
}

.box .span {
  font-size: 18px;
  font-family: 'UnifrakturMaguntia', cursive;
}

.box .text-wrapper-2 {
  font-size: 10px;
  font-weight: bold;
}

.box .CRESTITO-m-MORCILLA {
  position: absolute;
  width: 557px;
  top: 380px;
  left: 34px;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-3 {
  font-weight: 700;
}

.box .text-wrapper-4 {
  font-family: 'Crimson Text', serif;
  font-size: 10px;
}

.box .text-wrapper-5 {
  font-family: 'Crimson Text', serif;
  font-size: 11px;
}

.box .div {
  position: absolute;
  width: 557px;
  top: 213px;
  left: 34px;
  font-family: 'UnifrakturMaguntia', cursive;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .this-is-to-certify {
  position: absolute;
  width: 478px;
  top: 281px;
  left: 74px;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-6 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
}

.box .text-wrapper-7 {
  text-decoration: underline;
}

.box .text-wrapper-8 {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
}
